<p id="notice"><%= notice %></p>

<p>
  <strong>Txnid:</strong>
  <%= @transaction.txnid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @transaction.username %>
</p>

<p>
  <strong>Product zone:</strong>
  <%= @transaction.product_zone %>
</p>

<p>
  <strong>Product:</strong>
  <%= @transaction.product %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @transaction.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @transaction.model %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
